#background {
    object-fit: cover;
    z-index: 0;
    width: 100%;
    min-height: 92vh;
}

#background canvas {
    width: 100% !important;
    height: 92vh !important;
}

#content {
    z-index: 1;
}


@media screen and (min-height:765px) {
    #background canvas {
        height: 93vh !important;
    }
}